<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Add 需求 | 测试平台</title>
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/forms.css" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-testapp model-prd change-form"
  data-admin-utc-offset="0">
<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/index/">测试平台</a></h1>
        </div>

        <div id="user-tools">
            Welcome,
                <strong>admin</strong>.
                <a href="/test/logout/">Log out</a>
        </div>

    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/testapp/">Testapp</a>
&rsaquo; <a href="/admin/testapp/prd/">需求名称</a>
&rsaquo; Add 需求名称
</div>
  <!-- Content -->
    <div id="content" class="colM">

        <h1>Add 需求名称</h1>
        <div id="content-main">

<form enctype="multipart/form-data" action="" method="post" id="prd_form" novalidate>{% csrf_token %}
<div>

  <fieldset class="module aligned ">

        <div class="form-row field-name">
                <div>
                        <label class="required" for="id_name">需求名称:</label>
                            <input class="vTextField" id="id_name" maxlength="256" name="name" type="text" required="required" />
                </div>

        </div>

        <div class="form-row field-prd_url">
                <div>
                        <label class="required" for="id_prd_url">需求地址:</label>

                            <input class="vTextField" id="id_prd_url" maxlength="256" name="prd_url" type="text" required="required"/>
                </div>

        </div>

</fieldset>

<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />
  <p class="deletelink-box"><input type="reset" value="Reset"/></p>
<input type="submit" value="Save and add another" name="_addanother" />

</div>

    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"

                data-model-name="prd"
            >
    </script>
<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>
</div>
</form></div>
       <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
