<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>用例 | 测试平台</title>
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/static/css/jquery-confirm.css" />
        <script src="/static/js/jquery/jquery-3.2.1.js"></script>
    <script src="/static/js/jquery/jquery-confirm.js"></script>
    <script src="/static/js/my/myfunction.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/lang.zh_CN.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/config.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" app-testapp model-case change-form"
  data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/index/">测试平台</a></h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.
                <a href="/test/logout/">Log out</a>
        </div>
    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/testapp/">Testapp</a>
&rsaquo; <a href="/admin/testapp/case/">测试用例</a>
&rsaquo; {{ case.title }}
</div>
    <!-- Content -->
    <div id="content" class="colM">
        <br>
        <br>

        <div id="content-main">
<br>
  <ul class="object-tools">
    <li><a href="/testapp/{{ id }}/case" class="viewsitelink">case列表</a></li>
  </ul>
<div  id="case_form" >
  <fieldset class="module aligned ">
        <div class="form-row field-prd_name">
                <div>
                        <label class="required" for="id_prd_name">标题:</label>
                     <p>{{ case.title }}</p>
                 </div>

        </div>
        <div class="form-row field-module">
                <div>
                        <label class="required" for="id_module">模块:</label>
                    <p>{{ case.module }}</p>
                </div>
        </div>

        <div class="form-row field-title">
                <div>
                        <label class="required" for="id_title">所属需求:</label>
                    <p>{{ case.prd_name }}</p>
                </div>
        </div>
        <div class="form-row field-content">
                <div>
                        <label class="required" for="id_content">操作步骤:</label><br><br>
                    <p>{{ case.content|safe }}</p>
                </div>
        </div>

</fieldset>
</div>
<div class="submit-row">
<p class="default" ><a href="change">Change</a></p>
    <p class="deletelink-box"><a href="delete" class="deletelink">Delete</a></p>
</div>
<script>
    var result={{ result|safe }}
    if (result == true) {
        alert("删除成功");
        location.href('/testapp/{{ id }}/case')
    }
    else {
        alert('删除失败')
    }


</script>
</div>
</div></div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
