<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>用例 | 测试平台</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/lang.zh_CN.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/config.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" app-testapp model-case change-form"
  data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Django administration</a></h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>
        </div>
    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/testapp/">Testapp</a>
&rsaquo; <a href="/admin/testapp/case/">测试用例</a>
&rsaquo; {{ case.title }}
</div>
    <!-- Content -->
    <div id="content" class="colM">
        <br>
        <br>
        <br>
        <div id="content-main">
<br>
  <ul class="object-tools">
    <li><a href="/testapp/prd/{{ id }}/case" class="viewsitelink">case列表</a></li>
  </ul>
<div  id="case_form" novalidate>
  <fieldset class="module aligned ">
        <div class="form-row field-prd_name">
                <div>
                        <label class="required" for="id_prd_name">标题:</label>
<div class="related-widget-wrapper">
    <p>{{ case.title }}</p>

</div>
                </div>
        </div>
        <div class="form-row field-module">
                <div>
                        <label class="required" for="id_module">模块:</label>
                    <p>{{ case.module }}</p>
                </div>
        </div>

        <div class="form-row field-title">
                <div>
                        <label class="required" for="id_title">所属需求:</label>
                    <p>{{ case.prd_name }}</p>
                </div>
        </div>
        <div class="form-row field-content">
                <div>
                        <label class="required" for="id_content">操作步骤:</label>
                    <p>{{ case.content|safe }}</p>
                </div>
        </div>

</fieldset>
</div>

<div class="submit-row">
<p class="default" ><a href="change">Change</a></p>
    <p class="deletelink-box"><a href="/admin/testapp/case/40/delete/" class="deletelink">Delete</a></p>
</div>

    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            >
    </script>
<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>
</div>
</div></div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
