<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>用例列表 | 测试平台</title>
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/changelists.css" />

<script type="text/javascript" src="/static/js/editor/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/lang.zh_CN.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/config.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" app-testapp model-case change-list"
  data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/index/">测试平台</a></h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.
                <a href="/test/logout/">Log out</a>
        </div>
    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/testapp/">Testapp</a>
&rsaquo; 测试用例
</div>
    <!-- Content -->
    <div id="content" class="flex">

        <h1>用例列表</h1>

  <div id="content-main">

        <ul class="object-tools">
            <li>
              <a href="/testapp/case/add/" class="addlink">
                Add 用例
              </a>
            </li>
        </ul>
    <div class="module" id="changelist">
<div id="changelist-form" method="post" novalidate>
<div class="results">
<table id="result_list">
<thead>
<tr>
<th scope="col"  class="sortable column-title">
   <div class="text"><a href="?o=1">标题</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-prd_name">

   <div class="text"><a href="?o=2">所属需求</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-module">

   <div class="text"><a href="?o=3">模块</a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
{% for case in case_list %}
<tr class="row1">
    <th class="field-title"><a href="{% url 'case_detail' case.id %}">{{ case.title }}</a></th>
    <td class="field-prd_name nowrap">{{ case.prd_name }}</td>
    <td class="field-module">{{ case.module }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<p class="paginator">{{ len }} 测试用例</p>
      </div>
    </div>
  </div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
