<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Change 需求 | 测试平台</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" app-testapp model-prd change-form"
  data-admin-utc-offset="28800">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="/index/">测试平台</a></h1>
        </div>
        <div id="user-tools">
            Welcome,
                <strong>{{ request.session.username }}</strong>.
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>

        </div>
    </div>
    <!-- END Header -->
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/testapp/">Testapp</a>
&rsaquo; <a href="/admin/testapp/prd/">需求</a>
&rsaquo; 好人啊
</div>
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Change 需求</h1>
        <div id="content-main">
  <ul class="object-tools">
    <li><a href="/testapp/prd" class="viewsitelink">需求 list</a></li>
  </ul>
<form enctype="multipart/form-data" action="" method="post" id="prd_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='QpYbgvgtP5DPEBSvg6kT1oPdBO1PH26u8kNZfnUnyAzi9KV3O7KRmklIHapcyDeo' />
<div>
  <fieldset class="module aligned ">
        <div class="form-row field-name">
                <div>
                        <label class="required" for="id_name">需求名称:</label>
                            <input class="vTextField" id="id_name" maxlength="256" name="name" type="text" value="好人啊" required />
                </div>
        </div>
        <div class="form-row field-prd_url">
                <div>
                        <label class="required" for="id_prd_url">需求地址:</label>
                            <input class="vTextField" id="id_prd_url" maxlength="256" name="prd_url" type="text" value="有大概豆腐干" required />
                </div>
        </div>
</fieldset>
<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />
</div>
</div>
</form></div>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
