<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Change 文章 | 测试平台</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<script type="text/javascript" src="/static/js/editor/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/lang.zh_CN.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/config.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" app-testapp model-article change-form"
  data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="/admin/">Django administration</a></h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>{{ request.session.username }}</strong>.
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/test/logout/">Log out</a>
        </div>
    </div>
    <!-- END Header -->
<div class="breadcrumbs">
<a href="/test/index/">Home</a>
&rsaquo; <a href="/test/article/">文章</a>
&rsaquo; {{ article.title }}
</div>
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Change 文章</h1>
        <div id="content-main">

<form enctype="multipart/form-data" action="" method="post" id="article_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='knlgNNLesMi72lsjUgHvxJmuvwzXHJ0Q50vR9RAN9S01FBTl7IrCqXDLXVVMUWgx' />
<div>
  <fieldset class="module aligned ">
        <div class="form-row field-title">
                <div>
                        <label class="required" for="id_title">文章标题:</label>
                            <input class="vTextField" id="id_title" maxlength="50" name="title" type="text" value={{ article.title }} required />
                </div>
        </div>
        <div class="form-row field-keyword">
                <div>
                        <label class="required" for="id_keyword">关键字:</label>
                            <input class="vTextField" id="id_keyword" maxlength="256" name="keyword" type="text" value={{ article.keyword }} required />
                </div>
        </div>
        <div class="form-row field-author">
                <div>
                        <label class="required" for="id_author">作者:</label>
                    <p>{{ article.author }}</p>
                </div>
        </div>
        <div class="form-row field-content">
                <div>
                        <label class="required" for="id_content">内容:</label>
                            <textarea class="vLargeTextField" cols="40" id="id_content" name="content" rows="10">{{ article.content }}</textarea>
                </div>
        </div>
</fieldset>
<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />
 <!--<p class="deletelink-box"><input type="reset" value="Reset"/></p>-->
</div>

</div>
</form></div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
