<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Are you sure? | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/lang.zh_CN.js"></script>
<script type="text/javascript" src="/static/js/editor/kindeditor/config.js"></script>
<script type="text/javascript" src="/static/admin/js/cancel.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class=" app-testapp model-case delete-confirmation"
  data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="/admin/">Django administration</a></h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>
        </div
    </div>
    <!-- END Header -->
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/testapp/">Testapp</a>
&rsaquo; <a href="/admin/testapp/case/">测试用例</a>
&rsaquo; <a href="/admin/testapp/case/1/change/">奥术大师多所多所多所多所多所多所多所多所多所多所多所多所多所多所多</a>
&rsaquo; Delete
</div>
  <!-- Content -->
    <div id="content" class="colM">
        <h1>Are you sure?</h1>
    <p>Are you sure you want to delete the 用例 "奥术大师多所多所多所多所多所多所多所多所多所多所多所多所多所多所多"? All of the following related items will be deleted:</p>

<h2>Summary</h2>
<ul>

    <li>测试用例: 1</li>

</ul>

    <h2>Objects</h2>
    <ul>	<li>用例: <a href="/admin/testapp/case/1/change/">奥术大师多所多所多所多所多所多所多所多所多所多所多所多所多所多所多</a></li></ul>
    <form method="post"><input type='hidden' name='csrfmiddlewaretoken' value='HA37veZEQGjI5AZGlIfxmr2hk74l1uijsddIRiOdxM1CIQqIyaZEfFjyMwqaeHy0' />
    <div>
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="Yes, I'm sure" />
    <a href="#" class="button cancel-link">No, take me back</a>
    </div>
    </form>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
