<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>测试平台</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <style type="text/css">
        .hh
        {
            margin:0 auto;

        }
    </style>
</head>

<body>
<div id="header">
    <div id="branding">
        <h1 id="site-name"><a href="/index/">测试平台</a></h1>
    </div>
    <div id="user-tools">
        Welcome,<strong>admin</strong>.
                <a href="/admin/logout/">Log out</a>
    </div>
</div>
<div >
    <form action="/testapp/search" method="post">
        <input type="text" value="输入搜索关键字..." name="keyword">
        <input type="submit" value="搜索">
    </form>
    <a href="/testapp/prd">用例管理</a>
    <a href="/testapp/article/all">分享文章</a>
    <p></p>
</div>

</body>
</html>
