<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>需求列表 | 测试平台</title>
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/changelists.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" app-testapp model-prd change-list"
  data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/index/">测试平台</a></h1>
        </div>

        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.
                <a href="/admin/logout/">Log out</a>
        </div>
    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/testapp/">Testapp</a>
&rsaquo; 需求名称
</div>

    <!-- Content -->
    <div id="content" class="flex">

        <h1>需求列表</h1>

  <div id="content-main">

        <ul class="object-tools">

            <li>
              <a href="/testapp/prd/add/" class="addlink">
                Add 需求
              </a>
            </li>

        </ul>

    <div class="module" id="changelist">
<div class="results">
<table id="result_list">
<thead>
<tr>
<th scope="col"  class="sortable column-name">
   <div class="text"><a href="?o=1">需求名称</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-prd_url">
   <div class="text"><a href="?o=2">需求地址</a></div>
   <div class="clear"></div>
</th>
    <th scope="col"  class="sortable column-prd_url">
   <div class="text"><a href=""></a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>

{% for prd in prd_list %}
<tr class="row1">
    <th class="field-name"><a href="{% url 'case_list' prd.id %}">{{ prd.name }}</a></th>
    <td class="field-prd_url">{{ prd.prd_url }}</td>
    <td><a href="{% url 'change_prd' prd.id %}"><img src="/static/img/paper.png" width="16px" height="18px"></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
    </div>
  </div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
